th, td {
    border: 1px solid black;
}

img {
    margin:0.2em;
    background-color: black;
}

td {
    text-align: center;
    vertical-align: middle;
}

.title {
    background-color: #b71234;
    text-align: center;
    padding: 1em;
}

.navbar {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.logos{
    display: flex;
    flex-direction: row;
}

.rojo {
    color:red;
}
.gris {
    color: #bfbfbf;
}
.navnegro {
    padding: 0.5em;
    background-color: black;
}

.resaltado {
    background:lightgray;
}

.resaltadoNegro {
    background: black;
    padding: 1em;
    color: white;
    text-decoration: none; /*quitar subrayado*/
}

.cafTable{
    background-color: #bfbfbf;
}

#tc {
    font-style: italic;
}

.tableHead {
    padding: 1em;
}