        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
        <script>
            let selectedAvisoId = null;
            const tiposAviso = ["Sugerencia", "Incidencia", "Felicitación"];
            window.onload = () => {
                //la página se genera con tipo aviso numerico (0, 1, 2...) este evento se llama cuando termina de cargar, y modificamos la tabla convenientemente con el array tiposAviso
                const tipoAvisoElems = document.getElementsByClassName("tipoAviso");
                if(tipoAvisoElems) {
                    for(let i = 0; i < tipoAvisoElems.length; i++) {
                        tipoAvisoElems[i].innerText = tiposAviso[tipoAvisoElems[i].innerText];
                    }
                }
            }
            window.onscroll=function(){
                scroll();
            }
            var header=document.getElementById("header");
            var sticky=header.offsetTop;

            function scroll(){
                if(window.pageYOffset>sticky){
                    header.classList.add("sticky");
                }
                else{
                    header.classList.remove("sticky");
                }
            }

            function openModal(data, showTecnicos = false) {
                selectedAvisoId = data.id;
                const modalElement = document.getElementById('exampleModal');
                const modal = new bootstrap.Modal(modalElement);
                document.getElementById("exampleModalLabel").innerText = `Aviso ${data.id}: ${tiposAviso[data.tipo]}`;
                document.getElementById("modalFecha").innerText = `Fecha: ${data.fecha}`;
                document.getElementById("modalCreador").innerText = `Creador: ${data.creador}`;
                document.getElementById("modalPerfil").innerText = `Perfil: ${data.uniprofile}`;
                
                const textareaObservaciones = document.getElementById("floatingTextarea2");
                textareaObservaciones.value = data.texto;
                textareaObservaciones.readOnly = true;

                if(data.comentario && data.comentario.length > 0) {
                    document.getElementById("divModalComentario").classList.remove("hide");
                    const textareaComentario = document.getElementById("modalComentario");
                    textareaComentario.value = data.comentario;
                    textareaComentario.readOnly = true;
                }
                const divtecnicos = document.getElementById("divTecnicos");
                if(showTecnicos) divtecnicos.classList.remove("hide");
                else if(divtecnicos) divtecnicos.classList.add("hide");
                modal.show();
            }

            function stopEventPropagation(event,) {
                event.stopPropagation();
            }

            function asignarTecnico(event, idAviso, data) {
                event.stopPropagation();
                openModal(data, true);
            }

            function validarFormulario() {
                document.getElementById("inputIdAviso").value = selectedAvisoId;
            }

            function nuevoAviso() {
                
            }
        </script>
    </body>
</html>