<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8"/>
        <link rel="stylesheet" href="css/tasksScreen.css">
        <link rel="stylesheet" href="css/tasksPrint.css" media="print">
        <title>PV1</title>
    </head>
    <body>
        <header>
            <div class="block header-style" id="header">
                <img class="img1 align-left" src="img/logo.png">
                
                <div class="align-right center marginright">
                    <label class="block margintop" for="disconnect">Nombre de usuario</label>
                    <input class="buttonstyle buttonblue" type="button" id="disconnect" value="Desconectar">
                </div>
                <img class="img2 align-right" src="img/descarga.png">
            </div>
        </header>
        <div class="flexcenter">
            <ul class="no-dots">
                <% tasksArray.forEach(t => { %>
                    <li>
                        <div class="task">
                            <!-- Task name -->
                            <% if(t.hecho) { %>
                                <p class="inline marginright"><del><%= t.texto %></del></p>
                            <% } else { %>
                                <p class="inline marginright"><%= t.texto %></p>
                                <a href="/finish/<%= t.idTareas %>"><input class="align-right buttontextred" type="button" id="finalizar" value="Finalizar"></a>
                            <% } %>
                            <!-- Task tags -->
                            <% if(t.tags && t.tags.length > 0){ t.tags.forEach(tag => { %>
                                <% if(tag){ %>
                                <p class="inline marginright borderradius tagstyle"><%= tag %></p>
                                <% } %>
                            <% });} %> 
                        </div>
                    </li>
                <% }); %>
                <li><div class="">
                    <a href="/deleteCompleted"><input class="buttonstyle align-left buttonred" type="button" id="delete" value="Eliminar tareas"></a>
                    <form action="/addTask" method="post">                        
                        <div class="align-right margin-top-sm">
                            <input class="block" name="tarea" type="text" size="10">
                            <input class="buttonstyle align-right buttongreen" type="submit" value="Añadir nueva">
                        </div>
                    </form>
                </div></li>
            </ul>

        </div>
        <div style="height: 200vh;"></div>
        <script>
            window.onscroll=function(){
                scroll();
            }
            var header=document.getElementById("header");
            var sticky=header.offsetTop;

            function scroll(){
                if(window.pageYOffset>sticky){
                    header.classList.add("sticky");
                }
                else{
                    header.classList.remove("sticky");
                }
            }
        </script>
    </body>
</html>